# ENTORNOS VIRTUALES 
venv/
.venv/
env/

#ARCHIVOS DE PYTHON 
__pycache__/
*.pyc
*.pyo
*.pyd

#CONFIGURACIONES DE EDITORES
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# ARCHIVOS DEL SISTEMA
Thumbs.db
.DS_Store